<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LittleBrother</title>

   {% load staticfiles %}
   {% block refs %}
   {% endblock %}
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/base.css' %}" rel="stylesheet">
</head>

<body>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Little Brother</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="">
                <a href="{% url 'your_devices'%}">Your Devices</a></li>
            <li class="">
                <a href="{% url 'configure' %}">Configure Devices</a></li>
          </ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		{% else %}
		<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		{% endif %}
	</ul>
        </div>
      </div>
    </nav>
    {% block container %}
    <div class="container">
    <div class="content">

    {% block content %}

    {% endblock %}
    
    </div>
    </div>
    {% endblock %}
</body>
{% block postbody %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</html>
