{% extends "base.html" %}

{% block content %}
<h2>Devices</h2>
<table class="table table-bordered table-striped">
  <thead>
    <th>Name</th>
    <th>Id</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Time_Created</th>
  </thead>
  <tbody>
{% for device in devices %}
  <tr>
    <td><a href="{% url 'device_data' device.id %}">{{device.name}}</td>
    <td>{{device.id}}</td>
    <td>{{device.latitude}}</td>
    <td>{{device.longitude}}</td>
    <td>{{device.time_server}}</td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h2>Sensors</h2>
<table class="table table-bordered table-striped">
  <thead>
    <th>Name</th>
    <th>Id</th>
    <th>Time_Created</th>
    <th>Device_Id</th>
  </thead>
  <tbody>
{% for sensor in sensors %}    
  <tr>
    <td>{{sensor.name}}</td>
    <td>{{sensor.custom_id}}</td>
    <td>{{sensor.time_server}}</td>
    <td>{{sensor.device.id}}</td>
  </tr>   
{% endfor %}   
  </tbody>
</table>

<h2>Logs</h2>
<table class="table table-bordered table-striped">
  <thead>
    <th>Id</th>
    <th>Value</th>
    <th>Time</th>
    <th>Device_Id</th>
    <th>Sensor_Id</th>
    <th>Time_App</th>
    <th>Time_Server</th>
  </thead>
  <tbody>
{% for log in logs %}    
  <tr>
    <td>{{log.custom_id}}</td>
    <td>{{log.value}}</td>
    <td>{{log.time}}</td>
    <td>{{log.sensor.device.id}}</td>
    <td>{{log.sensor.custom_id}}</td>
    <td>{{log.time_app}}</td>
    <td>{{log.time_server}}</td>
  </tr>   
{% endfor %}   
  <tbody>
</table>      
{% endblock %}
