html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  margin: auto;
  height: 1000px;
  width: 1000px;
}

#small-map {
  position: absolute;
  right: 10%;
  top: 30%;
  height: 50%;
  width: 40%;
}
